body{ font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

h5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;

}

h6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 300px;

}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.texto_Logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.foto_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.Guarda_Chuva{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.Garrafa_termica{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}

.Oculos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

}
