body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h2 {font-size: 22px;}

h4 {font-size: 16px;}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.texto_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.Matricula {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.CPF {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.Curso {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.Perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.Senha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.confirmaSenha {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.cadastrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cancelar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

p {
    padding: 10px;
}