<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="../static/css/css_esquece_a_senha.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>



<body>
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/309/309616.png"  width="100" >
    </div>
    <div class="texto_Logo">
    <h1><b style='color : #111827'>
        Elo
    </div>
    
    
    <div class="texto_rec_digite"> 
    <h2>Recuperação de Senha</h2>
    <h3>Digite o email cadastrado para receber instruções de recuperação da sua senha</h3>
    </div>
    <h4> Escreva seu email:</h4>
</body>


</html>