<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">       
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELO | Login</title>
    <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="logo">
        <img src="logo.ELO.png" alt="Logo ELO" width="200">
        <h1>Achados e Perdidos Online - PUC-Rio</h1>
    </div>

    <div class="campo">
        <h3>Email ou telemóvel</h3>
        <input type="text">
    </div>

    <div class="senha">
        <h3>Senha</h3>
        <input type="password">
    </div>

    <div class="entrar">
        <input type="button" value="ENTRAR">
    </div>
</body>

</html>
