<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="logo">
        <img src="https://cdn-icons-png.flaticon.com/512/309/309616.png"  width="100" >
    </div>
    <div class="texto_Logo">
    <h1><b style='color : #111827'>
        Elo
    </div>
    <div class="foto_perfil">
        <img src= "https://img.magnific.com/vetores-premium/ilustracao-plana-vetorial-em-escala-de-cinza-avatar-perfil-de-usuario-icone-de-pessoa-imagem-de-perfil-de-silhueta-neutra-de-genero-adequado-para-perfis-de-midia-social-icones-protetores-de-tela-e-como-um-modelo-x9xa_719432-2210.jpg?semt=ais_hybrid&w=740&q=80" width="100">
    </div>



    <h2>Nome do Usuário</h2>

    <h3> Meus itens reportados</h3>

    <h4> Guarda chuva </h4>
    <div class="Guarda_Chuva">
        <img src=" https://images.tcdn.com.br/img/img_prod/1335778/guarda_chuva_casual_72cm_gcm51013_1_20250929094353_a6e865283187.jpg" width="100">
    </div>
    <h5> Garrafa termica </h5>
    <div class="Garrafa_termica">
        <img src="https://lojaibyte.vteximg.com.br/arquivos/ids/430199-1200-1200/garrafa-termica-gt-thermos-lilas-500-ml-001-min.jpg?v=638551946307600000" width="100">
    </div>
    <h6> Oculos </h6>
    <div class="Oculos">
        <img src="https://assets.sistemawbuy.com.br/arquivos/4f1985ba74662a4afb68be49c1d7fa45/produtos/67461fe5191ec/img-20241126-wa0030-67461fe549617.jpg" width="100">
    </div>
</body>