<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="site_unificado.css">
</head>
<body>
    <nav>
        <a href="cadastro.html" class="botao_cadastro">Cadastro</a>
        <a href="login.html" class="botao_login">Login</a>
        <a href="html_esqueceu_senha.html" class="botao_esqueci_senha">Esqueceu a senha</a>
    </nav>
</body>
</html>